#* @vtlmacrolibrary path="VM_global_library.vm" *#
#* @vtlvariable name="rs" type="com.lemsun.data.sqlserver.SqlTable5ResourceWrap" *#
CREATE TRIGGER TR_${rs.dbTable}_DELETE on $rs.dbTable
AFTER DELETE
AS
BEGIN

DECLARE @CODE VARCHAR(500)
DECLARE @KEY UNIQUEIDENTIFIER

#if($rs.sameCodeRecord)

    SELECT @CODE = CODE FROM DELETED

    DELETE FROM $rs.dbTable
    where CODE = @CODE

#end

END


