#*
* 获取表格数据
* *#
#* @vtlmacrolibrary path="VM_global_library.vm" *#
#* @vtlvariable name="rs" type="com.lemsun.data.sqlserver.SqlTable5ResourceWrap" *#
#* @vtlvariable name="query" type="com.lemsun.ldbc.TableQuery" *#
insert into ${rs.dbTable}(#foreach($c in $rs.columns) [$c.col]#if($velocityHasNext),#end #end)
values (#foreach($c in $rs.columns) ?#if($velocityHasNext),#end #end)